shopping whatsapp automation workflow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are an AI agent for an Electronics Shop that manages inventory, customer orders, and FAQs using Google Sheets.\n\nwhen the user send the 1st message like hi,hello,reply with\nWelcome to Electronics Hub\nhow can i help you today\n1-place an order\n2-FAQ -Information\n3-check order/stock\n\nYour role:\n1. Inventory Management\n   - Retrieve product details from the \"Inventory\" sheet.\n   - Check available stock for requested items.\n   - If stock is low or unavailable, inform the user politely.\n   - Provide product details like name, price, description, and stock quantity.\n\n2. Order Management\n   - Record new customer orders into the \"Orders\" sheet.\n   - Collect customer details: name, phone number, product, quantity, delivery address, payment method.\n   - Confirm total price before placing an order.\n   - Update order status (Pending, Processing, Shipped, Delivered).\n\n3. FAQ Assistance\n   - Answer questions from the \"FAQ\" sheet.\n   - If the question is not found, respond politely and suggest contacting customer support.\n\nBehavior:\n- Always reply in a polite, professional, and concise way.\n- For inventory queries, always show product name, price (in INR), and stock availability.\n- For orders, confirm details with the customer before saving them.\n- For FAQs, return the exact answer from the sheet when available.\n- If you don’t find the data in any sheet, say: \"I couldn’t find that information, please contact store support.\"\n\nExamples:\nUser: \"Do you have iPhone 15 Pro in stock?\"\nAgent: \"Yes, the iPhone 15 Pro is available. Price: ₹99,999. Stock: 25 units. Would you like to place an order?\"\n\nUser: \"I want to buy 2 AirPods Pro 2.\"\nAgent: \"Sure! AirPods Pro 2 cost ₹24,999 each. Total: ₹49,998. Can I have your name, phone number, and delivery address to confirm the order?\"\n\nUser: \"What is your return policy?\"\nAgent: \"We have a 7-day return policy for defective items only.\"\n\nYour primary data sources:\n- Inventory sheet → Product info\n- Orders sheet → New and existing orders\n- FAQ sheet → Store policies\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "201fe209-b91c-4492-98e6-d440eedbb5c3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        240
      ],
      "id": "5367c034-7003-4b64-bbbf-034a17c2df82",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wUuqT3FbDrhEGtjq",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        304
      ],
      "id": "d2c36afc-615a-43dd-9bde-1c0b3ecb962c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TIrtz51RdQfXdPss8kYwmrMl9yuGGYxM5kD6EtgNjS0",
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TIrtz51RdQfXdPss8kYwmrMl9yuGGYxM5kD6EtgNjS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 636373500,
          "mode": "list",
          "cachedResultName": "Inventory.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TIrtz51RdQfXdPss8kYwmrMl9yuGGYxM5kD6EtgNjS0/edit#gid=636373500"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        320
      ],
      "id": "a9b57bae-0bcf-47ed-9246-329b331b6de9",
      "name": "get inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FXGhLcSVwvKcnSQ8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1S4-Ps3PgPBGH1Nd54zLHd7o8oNpjdJCYf7qgIVzWVmY",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S4-Ps3PgPBGH1Nd54zLHd7o8oNpjdJCYf7qgIVzWVmY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1378830873,
          "mode": "list",
          "cachedResultName": "Orders.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S4-Ps3PgPBGH1Nd54zLHd7o8oNpjdJCYf7qgIVzWVmY/edit#gid=1378830873"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_ID', ``, 'string') }}",
            "Customer_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Phone_Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Product_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Product_ID', ``, 'string') }}",
            "Product_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Product_Name', ``, 'string') }}",
            "Quantity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity', ``, 'string') }}",
            "Price_Per_Unit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Price_Per_Unit', ``, 'string') }}",
            "Total_Price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Price', ``, 'string') }}",
            "Order_Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_Date', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Payment_Method": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Payment_Method', ``, 'string') }}",
            "Delivery_Address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Delivery_Address', ``, 'string') }}",
            "Order_Time": "={{ $now.format('yyyy-MM-dd hh-mm-ss a') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order_ID",
              "displayName": "Order_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer_Name",
              "displayName": "Customer_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product_ID",
              "displayName": "Product_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product_Name",
              "displayName": "Product_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price_Per_Unit",
              "displayName": "Price_Per_Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total_Price",
              "displayName": "Total_Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order_Date",
              "displayName": "Order_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order_Time",
              "displayName": "Order_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Method",
              "displayName": "Payment_Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery_Address",
              "displayName": "Delivery_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        592,
        336
      ],
      "id": "f6bac6b9-913d-4db9-bd9c-0b7e51048a39",
      "name": "for orders",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FXGhLcSVwvKcnSQ8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1y-N8Z-jZ7q6e8FHGTpJQu9sj8OcahFtUxlpCNhm90_A",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-N8Z-jZ7q6e8FHGTpJQu9sj8OcahFtUxlpCNhm90_A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1448749508,
          "mode": "list",
          "cachedResultName": "FAQ.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-N8Z-jZ7q6e8FHGTpJQu9sj8OcahFtUxlpCNhm90_A/edit#gid=1448749508"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        816,
        288
      ],
      "id": "a3e692ff-e650-477c-9a58-d31117d65a87",
      "name": "faq",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FXGhLcSVwvKcnSQ8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        0
      ],
      "id": "7de8c203-fd88-48bd-b0b5-1347166e6564",
      "name": "WhatsApp Trigger",
      "webhookId": "22277654-47d0-4c7a-87cb-5060fe13be19",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "WsG8EHeoHQ72yHWs",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "772012466001288",
        "recipientPhoneNumber": "+918754812629",
        "textBody": "= {{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "57993e61-b5da-4837-bb95-7cba30337c4c",
      "name": "Send message",
      "webhookId": "dfff65e6-376c-4b59-917e-e5dbfc7eaa82",
      "credentials": {
        "whatsAppApi": {
          "id": "L3cW2gFWpSQkzUYz",
          "name": "WhatsApp account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "for orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "faq": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89cc4a5c-8a92-4d0a-8d09-0d82bc5a4590",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a75122df57cd9fc319f6b88f161ff36b320ba9552cdd34c0cba010ddd49862c8"
  },
  "id": "4xwgrlAAsHuCw2Sv",
  "tags": []
}